.event {
	margin: 36px 5% auto 5%;
	display: flex;
	flex-wrap: wrap;
	gap: 1rem;
}

.singleEvent {
	position: relative;
	background-color: white;
	width: 30%;
	height: 330px;
	margin-bottom: 1rem;
	line-height: 1rem;
}

.eventImage {
	position: relative;
	height: 70%;
}

.image {
	border-radius: 10px;
	width: 100%;
	object-fit: cover;
}

.title {
	font-size: 0.8rem;
	font-weight: 600;
}

@media (min-width:1000px) {
	.singleEvent {
		background-color: white;
		width: 20%;
		margin-bottom: 1rem;
	}

	.event {
		margin: 36px 3vw auto 4vw;
		justify-content: space-evenly;
		gap: 2.2rem;
	}
}

@media (max-width:600px) {
	.singleEvent {
		width: 40%;
		
	}
	.event {
		font-size: 0.8rem;
		margin-left: 40px;
		gap: 40px;

	}

	
}
