.searchbar {
	margin: 1rem 0 1rem 0;
}

.searchbar input {
	border: 1px solid black;
	z-index: 1;
}

@media (max-width:763px) {
	.searchbar {
		width:100% ;
		display: flex;
	}
	.searchbar input {
		width: 350px;
		margin: auto;
		padding: 10px;
		justify-content: center;
		align-items: center;
	}
}

