.slider {
	position: absolute;
	display: flex;
	height: 250px;
	left: 10%;
	gap: 10px;
}

.image {
	width: 40%;
	border-radius: 40px;
}

.active {
	display:block;
}

.sliderbtn {
	background-color: red;
}

.btn {
	position: absolute;
	background-color: pink;
	border-radius: 100%;
	color:rgb(24,24,24);
	font-size: 22px;
	z-index: 1;
	width: 30px;
	height: 30px;
	text-align: center;
}

.right {
	top: 12rem;
	left: 15%;
}

.left {
	top:12rem;
	right: 15%;
}
